@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
#background-wrap{
	position: relative;
	z-index: -1000;
	overflow: hidden;
	height: 60vh;
	top: 0;
	left: 0;
}
#video-elemento{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -100;
}
body{
	font-family: 'Nunito', sans-serif, helvetica;
}
header{
	width: 100%;
	height: 80px;
	background: rgba(0,0,0,.4);
	color: #444;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.conteudo{
	width: 98%;
	margin: auto;
}
.logo img{
	width: 150px;
	float: left;
}

/*-----menu----*/

#menu-bar{
	display: none;
}
header label{
	float: right;
	cursor: pointer;
}
.menu{
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(51,51,51,0.9);
	transition: all 0.5s;
	transform: translateX(-100%);
}
.menu a{
	text-decoration: none;
	color: #ffffff;
	display: block;
	height: 50px;
	padding: 10px 15px;
	border-bottom: 1px solid rgba(255,255,255,0.4)
}
#menu-bar:checked ~ .menu{
	transform: translateX(0%);
}
.menu a:hover{
	background: rgba(255,255,255,0.3);
}
.icon-menu{
	color: #fff;
	font-size: 30px;
	margin: 6px 0px;
}
header .conteudo{
	display: table;
}
/*-----banner----*/

section{
	width: 100%;
	margin-bottom: 25px;
	
}

#banner{
	position: relative;
	background-image: url('http://i.imgur.com/XQxN560.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 60vh;
}
#banner img{
	width: 100%;
	height: 100%;
}
#banner .conteudo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
}
#banner h1{
	font-size: 1.5em;
	text-shadow: 2px 2px 2px #222;
}
#banner a{
	width: auto;
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	border: 3px solid #f27109;
	padding: 10px;
	margin-top: 15px;
	border-radius: 5px;
}
#background-wrap a:hover{
	background: rgba(51,51,51,0.5);
}
#produto{
	text-align: center;
}
#produto h2{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 15px;
	padding: 10px;
}
#produto p{
	text-align: center;
	line-height: 30px;
	margin: 0px;
	padding: 10px;
}
.areas{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 15px 0; 
}
.areas li{
	width: 30%;
	margin: 10px;
	border: 1px solid transparent;
}
.areas li:hover{
	border:1px solid #32a83a;
}
.areas li img{
	margin: auto;
	display: block;
}
#oportunidade h3{
	text-align: center;
	padding: 15px;

}
#oportunidade a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding: 15px 20px;
	text-align: center;
	margin: 15px;
	border-radius: 5px;
}
#oportunidade .visita{
	background: #32a83a;
}
#oportunidade .maisinfo{
	background: #0486da;
}
#imovel .conteudo{
	margin-bottom: 10px;
}
#imovel a{
	display: block;
	text-decoration: none;
	color: #333333;
	padding: 15px 20px;
	text-align: center;
	margin: 15px;
	border-radius: 5px;
	border: 1px solid #0486da;
	font-size: 1em;
}
#imovel a:hover{
	background: #0486da;
	color: #ffffff;
}
#imovel h3{
	text-align: center;
}
#unidades{
	text-align: center;
	background:#f3f3f3;
}
#unidades h4, h5{
	text-align: center;
	font-size: 30px;
}
#unidades .conteudo{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 20px auto; 
 }
.unidade-item1{
	border: 1px solid #b8b8b8;
	text-align: center;
	background: #ffffff;
	width: 60%;
	margin: 15px;
	padding: 20px 0;
	color: #333333;
	border-radius:4px;
}
#unidades p a{
	text-decoration: none;
	color: #0072bb;
	display: inline-block;
	margin-bottom: 20px;
}
#unidades .conteudo .unidade-item1:nth-child(even){
	border:none;
	color: #ffffff;
    background: #0170b8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0170b8, #064169); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0170b8, #064169); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0170b8, #064169); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0170b8, #064169); /* Standard syntax (must be last) */
}
.unidade-item1 a{
	background: #0486da;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 20px;
	display: block;
	width: 70%;
	margin: auto;
	border-radius: 7px;
	margin-top:15px; 

}
footer{
	font-size: 10px;
	text-align: center;
	display: block;
	padding: 0 20px 20px 20px;
}
@media (min-width: 480px){
	menu a {
		border: 0px;
	}
}
@media (min-width: 768px){
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;
		background: transparent;
		margin: 10px;
	}
	header label{
		display: none;
	}
	.menu a{
		margin-right: 15px;
		height: auto;
		border-radius: 8px;
		border: 0;
	}
	.menu > .mi{
		border: 2px solid #00c0f1;
	}
	.menu .mi:hover{
		background:#00c0f1;
	}
	.chat{
		background: #f27109;
	}
	#imovel, #oportunidade, #produto p, .conteudo{
		max-width: 1000px;
		/*border: 1px solid red;*/
		margin: 0 auto;
		text-align: center;
	}
	#banner h1{
		font-size: 2em;
		text-align: center;
	}

	#oportunidade a{
		display: inline-block;
	}
	.unidade-item1{
		width: 30%;
		padding: 40px 0px;
	}
	#imovel .conteudo{
		display: flex;
		justify-content: space-between;
		align-items: center;	
	}
	#imovel h3{
		text-align: left;
	} 
	.areas li{
	width: 12%;
	}
	#banner a{
	background: #f27109;
	}
	#banner a:hover{
	background: #f7941d;
	}


}